@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
body{
  margin: 0;
}

div{
  box-sizing: border-box;
}

.header{
  width: 100%;
}

button{
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(228, 76, 76);
  color: white;
  font-weight: bold;
  border: none;
}

.navbar{
  width: 100%;
  height: 55px;
  background-color: rgb(228, 76, 76);
  color: white;
  padding-left: 20px;
}

.navbar a{
  float:left;
  cursor: pointer;
}
.navbar a:hover{
  color: lightgray;
}

.navbar-logo{
  font-size: 30px;
  margin: 5px 40px 0px 20px;
}

.navbar-item{
  font-size: 18px;
  margin: 15px 20px 0px 0px;
}

.main{
  width: 100%;
  text-align: center;
}

.main-img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.img-overlay{
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 120px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  transition: 0.5s all;
}

.img-overlay:hover{
  background-color: rgba(0,0,0,0.5);
  transition: 0.5s all;
}

.main-img img{
  width: 400px;
}

.content{
  width: 100%;
}

.search{
  width: 100%;
  height: 120px;
  text-align: center;
  padding-top: 40px;
}

.search-container{
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  display: block;
  width: 20%;
  position: relative;
  transition: 0.5s all;
}

.search-input{
  width: 100%;
  min-width: 350px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgb(228, 76, 76);
  outline: none;
}
.search-container:hover{
  width: 40%;
  transition: 0.5s all;
}

.search-btn{
  position: absolute;
  width: 50px;
  height: 40px;
  right: 0px;
  top: 0px;
  font-size: 13px;
  margin-left: -10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(228, 76, 76);
}

.search-btn:hover{
  color: lightgray;
  background-color: rgb(167, 56, 56);
}

.board{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.board-category{
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(228, 76, 76);
}

table{
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px;
  margin-top: -10px;
}

th{
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(228, 76, 76);
}

td{
  border-top: solid 1px rgb(223, 162, 162);
}
.board-tr:hover{
  background-color: rgba(0,0,0,0.1);
}

.board-id{
  width: 10%;
  font-size: 12px;
}
.board-title{
  width: 75%;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
}
.board-date{
  width: 15%;
  font-size: 12px;
}

.board-line{
  border-top: 2px solid rgb(228, 76, 76);
}

.board-homeBtn{
  width: 100px;
  height: 30px;
  float: left;
}

.board-newBtn{
  width: 100px;
  height: 30px;
  float: right;
}

.board-pages{
  text-align: center;
}
.board-pages button{
  margin: 2px;
}
.board-pages button:hover{
  color: lightgray;
  background-color: rgb(167, 56, 56);
}

.board-clicked{
  color: lightgray;
  background-color: rgb(167, 56, 56);
}

.edit-select{
  width: 60%;
  height: 30px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  background-color: black;
}

.edit-title{
  width: 60%;
  height: 30px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.edit-body{
  width: 60%;
  height: 400px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: block;
  box-sizing: border-box;
}

.edit-btn{
  margin: 10px 0px 0px 20%;
}

.edit-btn button{
  width: 100px;
  height: 40px;
  margin-right: 10px;
}

.edit-container{
  width: 100%;
  text-align: center;
}

.edit-title{
  width: 60%;
  height: 30px;
  margin-bottom: 1px;
  padding: 10px;
  border: 1px solid lightcoral;
}

.edit-body{
  width: 60%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: block;
}
.edit-btn{
  width: 60%;
}

.edit-btn button{
  float: left;
}
.edit-btn button:hover{
  color: lightgray;
  background-color: rgb(167, 56, 56);
}

textarea{
  resize: none;
  background-color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid lightcoral;
  font-size: 15px;
  color: black;
  font-family: 'SDSamliphopangche_Outline';
  font-weight: 500;
  padding: 5px;
}

.detail-container{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.detail-category{
  border-bottom: 3px solid lightcoral;
  margin: 0px;
}

.detail-title{
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid lightcoral;
}
.detail-title h3{
  margin: 0px;
  margin-top: 5px;
  font-size: 16px;
  float:left;
}
.detail-title p{
  margin: 0px;
  float:right;
  width: 60px;
  font-size: 12px;
  font-weight: 500;
}
.detail-body{
  width: 100%;
  height: 400px;
  margin: 0px;
}
.detail-backBtn{
  float: left;
  width: 100px;
  height: 35px;
  margin-top: 10px;
}

.login-bg{
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  z-index: 5;
  width: 40%;
  height: 60%;
  min-width: 300px;
}
.login-logo{
  width: 100%;
  height: 50px;
  background-color: rgb(228, 76, 76);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1px;
  text-align: center;
  color: white;
}
.login-logo h1{
  margin: 0px;
}
.login-container{
  text-align: center;
  display: grid;
}
.login-container h1{
  margin-top: 4%;
}
.login-container input, .login-container button{
  width: 70%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.login-container input{
  font-size: 18px;
  padding-left: 5px;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.login-container button{
  margin-top: 5px;
}
.login-container p{
  text-align: left;
  margin-left: 15%;
  width: 100%;
  margin-bottom: 0px;
  font-size: 14px;
}

.login-container button:hover{
  color: lightgray;
  background-color: rgb(167, 56, 56);
}

.register-container{
  width: 100%;
  text-align: center;
}
.register-container h1{
  margin-bottom: 100px;
}
.register-container input{
  height: 30px;
  width: 300px;
  padding-left: 5px;
  box-sizing: border-box;
}
.register-container p{
  margin-bottom: 5px;
}

.register-registerBtn{
  display: block;
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#email-chk, #passwd-chk{
  font-size: 10px;
  color: red;
  margin: 0px;
}